@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    margin-top: 110px;
}

p{
    font-family: 'Poppins', sans-serif;
    color: #8a6276;
    font-size: 20px;
}

.scrool
{
    box-shadow: 0 0.125rem 0.125rem -0.125rem rgb(31 27 45 / 8%), 0 0.25rem 0.75rem rgb(31 27 45 / 8%);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
 
}

.btn-check:active+.btn-light:focus, .btn-check:checked+.btn-light:focus, .btn-light.active:focus, .btn-light:active:focus, .show>.btn-light.dropdown-toggle:focus {
    box-shadow: none;
    border: none;
}

.Sbtn
{
    color: white;
    background-color: #fd5631;
}

.Sbtn:hover{
    box-shadow: 0 0.125rem 0.125rem -0.125rem rgb(31 27 45 / 8%), 0 0.25rem 0.75rem rgb(31 27 45 / 8%);
     background-color: #fd5631;
}

.MarginClass
{
    margin-left: 90px;
}

.MarginClass1
{
    top: 95%;
    z-index: 11111;
    opacity: 1;
}

.Main1
{
    z-index: -111;

}

@media (max-width: 991px)
{
h1
{
 
    font-size: 40px;
}

.MarginClass1
{
    top: 35%;
    z-index: 11111;
    opacity: 1;
 display: flex;
    
}

.MarginClass
{
    margin-left: 90px;

}
}

@media (max-width: 778px)
{
    
h1
{
 
    font-size: 40px;
    width: 112%;
}

p{
    font-size: 17px;
}

.MarginClass1
{
    top: 38%;
    z-index: 11111;
    opacity: 1;
 display: flex;
    
}

}

@media (max-width: 400px)
{

    .MarginClass1
{
    top: 82%;
    z-index: 11111;
    opacity: 1;
 display: flex;
    
}

.Sbtn
{
    margin-top: 40px;
    
    
}

}